/* HourlyForecast.css */

.hourly-forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hourly-card {
  background-color: #4285f4; /* Blue color theme */
  border: 1px solid #357ae8; /* Darker blue for border */
  margin-bottom: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  color: #ffffff; /* White text color for better contrast */
}

.hourly-card h2 {
  margin-bottom: 10px;
}

.hourly-card p {
  margin: 5px 0;
  color: #ffffff; /* White text color for better contrast */
}

@media (max-width: 576px) {
  /* Styles for small screens (up to 576px) */
  .hourly-card {
    min-width: auto;
    margin-right: 0;
  }
}

  